.add-car-container{
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.add-car-container .add-form{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-bottom: 15px;
}

.add-form .input-container{
    display: grid;
    grid-template-columns: 30% 70%;
}

.add-car-container .form-button-container input{
    width: 45%;
    max-width: 250px;
    height: 55px;
    font-size: 1.2rem;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .add-car-container .add-form{
        grid-template-columns: 100%;
    }
}