.homepage-title-container{
    padding: 1rem 5rem;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.homepage-title-container h1, .homepage-title-container p{
    margin: 0;
    padding: 0;
}

.homepage-body{
    width: 100%;
}

.homepage-body .filter-sidebar{
    border-right: 1px solid #bdc3c7;
}

/****** RESULTS ******/
.homepage-body .results-container{
    justify-content: center;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    .homepage-title-container{
        padding: 1rem;
    }
}